extends layout

block content
  p Welcome to #{locals.settings.site_owner['name']}.
  a(href="/users/login") Login
  br
  a(href="/users/logout") Logout
  br

  a(href="/jobs/create/") Create a Job
  br
  a(href="/jobs/") View Jobs
  br
  a(href="/status/") View Job Status
  br
