doctype html
html
  head
    title= locals.settings.site_owner['company']

    link(rel='stylesheet', href='/stylesheets/style.css')

  // LiveReload
  script.
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

  body
    h1= locals.settings.site_owner['company']
    a(href="/") Home
    &#32;-&#32;
    a(href="/jobs/create") Create Job
    &#32;-&#32;
    a(href="/jobs/") View Jobs
    &#32;-&#32;
    a(href="/status") Status
    &#32;-&#32;
    a(href="/jobs/search") Search
    br
    br

    block content
