doctype html
html
  head
    title= locals.settings.site_owner['company']

    //- Additional meta tags (per page)
    block meta

    // CSS
    //- TODO(jeff): activate
    //- link(href='/css/common.css', rel='stylesheet', type='text/css', media='screen')

    link(href='/css/style.css', rel='stylesheet', type='text/css', media='screen')

    // Use mobile styling for both device and small desktop windows
    //- TODO(jeff): activate
    //- link(href='/css/mobile.css', rel='stylesheet', type='text/css', media='only screen and (max-device-width: 767px)')

  // LiveReload
  script.
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

  body
    h1= locals.settings.site_owner['company']
    a(href="/") Home
    | &#32;-&#32;
    a(href="/jobs/create") Create Job
    | &#32;-&#32;
    a(href="/jobs/") View Jobs
    | &#32;-&#32;
    a(href="/status") Job Status
    | &#32;-&#32;
    a(href="/jobs/search") Job Search
    br
    br

    block content
