doctype html
html
  head
    title= locals.settings.site_owner['company']

    //- Additional meta tags (per page)
    block meta

    // CSS
    //- TODO(jeff): activate
    //- link(href='/css/common.css', rel='stylesheet', type='text/css', media='screen')

    link(href='/css/style.css', rel='stylesheet', type='text/css', media='screen')

    // Use mobile styling for both device and small desktop windows
    //- TODO(jeff): activate
    //- link(href='/css/mobile.css', rel='stylesheet', type='text/css', media='only screen and (max-device-width: 767px)')

    // LiveReload
    script(src='//localhost:35729/livereload.js')

  body
    //- script.
      function go_back() {
        window.history.back();
      }
    //- a(href="" onclick="go_back()") Go Back

    h1= locals.settings.site_owner['company']
    a(href="/") Home
    | &#32;-&#32;
    a(href="/jobs/create") Create Job
    | &#32;-&#32;
    a(href="/jobs/") View Jobs
    | &#32;-&#32;
    a(href="/status") Job Status
    br
    br

    div(class='align-text-center')
      form(id='cse-search-box-form-id', action='/jobs', method='GET')
        //- NOTE: Safari overrides our styling when the input field type is set to
        //- 'search'.
        input(id='cse-search-input-box', class='search_input', type='text', name='q', spellcheck=false, autocomplete='off', value= locals.query, placeholder='Search by contact, number or address...', tabindex=1)
        //- br
        button(type='submit', class='search_button')

    block content
