doctype html
html
  head
    title= locals.settings.site_owner['company']

    //- Additional meta tags (per page)
    block meta

    // http://realfavicongenerator.net/
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#0000b6")
    meta(name="apple-mobile-web-app-title", content="blew-infosys")
    meta(name="application-name", content="blew-infosys")
    meta(name="msapplication-TileColor", content="#00aba9")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")

    // CSS
    //- TODO(jeff): activate
    //- link(href='/css/common.css', rel='stylesheet', type='text/css', media='screen')

    link(href='/css/style.css', rel='stylesheet', type='text/css', media='screen')

    // Use mobile styling for both device and small desktop windows
    //- TODO(jeff): activate
    //- link(href='/css/mobile.css', rel='stylesheet', type='text/css', media='only screen and (max-device-width: 767px)')

    // LiveReload
    script(src='//localhost:35729/livereload.js')

    //- Additional JavaScripts
    script(src="/js/jquery-1.11.1.js")

    //- Additional head-level block (specific per page)
    block head

    //- FIXME(jeff): Implement
    //- if locals.settings.env === 'development'
      script(src="/js/lib/jquery-1.11.1.js")
    //- else
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

  body
    //- script.
      function go_back() {
        window.history.back();
      }
    //- a(href="" onclick="go_back()") Go Back

    h1= locals.settings.site_owner['company']
    a(href="/") Home
    | &#32;-&#32;
    a(href="/jobs/create") Create Job
    | &#32;-&#32;
    a(href="/jobs/") View Jobs
    | &#32;-&#32;
    a(href="/status") Job Status
    br
    br
    .navi(align='right')
      if user_authenticated == false
        a(href="/users/login") Login
      else if user_authenticated == true
        a(href="/users/logout") Logout

    div(class='align-text-center')
      form(id='cse-search-box-form-id', action='/jobs', method='GET')
        //- NOTE: Safari overrides our styling when the input field type is set to
        //- 'search'.
        input(id='cse-search-input-box', class='search_input', type='text', name='query', spellcheck=false, autocomplete='off', value= locals.query, placeholder='Search by contact, number or address...', tabindex=1)
        //- br
        button(type='submit', class='search_button')

    block content
