extends layout

block content
  h2 Login

  //- novalidate
  form(action=locals.loc.pathname, method='POST')

    br
    label(for='user_id') User Name
    input(type="text" id='user_id' name="user_id" required, tabindex=2)
    br
    label(for='password') Password
    input(type="password" id='password' name="password" required, tabindex=3)
    br

    button(type='reset', name='action', value='reset', tabindex=5) Reset
    button(type='submit', name='action', value='login', tabindex=4) Login

    a(href='/users/logout') Logout
