extends layout

mixin print_field()
  if arguments != null
    if arguments[0] && arguments[1]
      p #{arguments[0]} #{arguments[1]}
    else if arguments[1]
      p #{arguments[1]}

block content
  script.
    function go_back() {
      window.history.back();
    }

  a(href="" onclick="go_back()") Go Back

  h2 Jobs

  if pr_rows.length > 0
    p Results: #{pr_rows.length}
    each property in pr_rows

      +print_field("CID: ", property.ClientKey)
      +print_field("PID: ", property.PropertyKey)
      +print_field("PID: ", property.property_id)

      +print_field("Job number: ", property.JobNum)
      +print_field("Job number:", property.DrawingNum)
      +print_field("Contact: ", property.JobContact)
      +print_field("Address: ", property.JobAddress)
      +print_field("Email: ", property.JobEmail)
      +print_field("Requested by: ", property.JobRequestedBy)
      +print_field("Name: ", property.Property)
      +print_field("Location: ", property.Location)
      +print_field("County: ", property.County)
      +print_field("District: ", property.District)
      +print_field("Section, Township & Range: ", property.SecTwpRge)
      +print_field("Description: ", property.JobDescription)
      +print_field("Subdivision: ", property.Subdivision)
      +print_field("Lot: ", property.Lot)
      +print_field("Lot: ", property.LandLot)
      +print_field("Block: ", property.Block)
      +print_field("Area: ", property.Area)
      +print_field("Filed: ", property.WhereFiled)
      +print_field("Book: ", property.PlatBook)
      +print_field("Page: ", property.PlatPage)
      +print_field("TaxMap: ", property.TaxMap)
      +print_field("Improvements: ", property.Improvements)
      +print_field("Zoning: ", property.Zoning)
      +print_field("Notes: ", property.Notes)
      +print_field("Notes: ", property.JobNotes)

      if property.JobStatus != null
        p Job Status:
        if property.JobStatus == 1
          b Ordered
        if property.JobStatus == 2
          b In the field
        else if property.JobStatus == 3
          b In drafting
        else if property.JobStatus == 4
          b Needs Review
        else if property.JobStatus == 5
          b In Revision
        else if property.JobStatus == 6
          b Completed
          br
      else
        p Job Status:
        b Not assigned

      +print_field("Need by date: ", property.JobDateNeeded)
      +print_field("Assigned to: ", property.JobAssignedTo)

      +print_field("Assigned: ", property.User1, property.User2, property.User3,
      property.User4, property.User5, property.User6, property.User7, property.User8)
      +print_field("Created: ", property.DateCreated)
      +print_field("Edited: ", property.DateEdited)

      // TODO: Validate!
      a(href='/api/properties/' + property.PropertyKey) edit
      &#32;-&#32;
      a(href='/api/properties/destroy/' + property.PropertyKey) destroy

    hr
